<div class="  p-4  text-sm leading-5">

  <div class="flex items-start gap-6">
    <div class="flex items-center justify-center mt-5 rounded-full ">
      <lucide-angular [img]="FileIcon" class="w-10 h-10 text-amber-600"></lucide-angular>
    </div>


    <div>
      <h1 class="text-xl  font-semibold text-gray-800">Sugerencia inteligente</h1>

      <p class="text-gray-600 mt-1">
        Has gastado
        <span class="font-semibold text-amber-600">{{ formattedSpent }}</span>
        en <span class="font-medium">{{ category }}</span> este período.
        Considera explorar recetas caseras para reducir este gasto el próximo mes.
      </p>
    </div>
  </div>

</div>
