<div class="min-h-screen flex items-center justify-center bg-gray-100">

  <!-- Card -->
  <div class="bg-white shadow-xl rounded-2xl p-10 w-full max-w-md">

    <!-- Header -->
    <div class="flex flex-col items-center mb-6">
      <img src="/assets/img/Logo_Letra_FinMind.png" alt="FinMind" class="w-40">
      <h1 class="text-2xl font-bold text-center text-gray-800">Bienvenido de nuevo</h1>
      <p class="text-gray-500 text-sm">Accede a tu panel inteligente de finanzas</p>
    </div>

    <!-- Form -->
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-4">

      <!-- EMAIL -->
      <div class="mb-4">
        <label for="email" class="block text-gray-500 mb-1 font-primary font-medium text-sm">Email</label>

        <div class="relative">
          <lucide-icon [img]="FileIcon_Email" size="20"
            class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">
          </lucide-icon>

          <input id="email" type="email" formControlName="email" placeholder="tu@mail.com" class="w-full border rounded-lg py-2 pl-10 pr-3 text-gray-700 placeholder:text-gray-500
             focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" />
        </div>
      </div>

      <!-- Contraseña -->
      <div class="mb-4">
        <label for="email" class="block text-gray-500 mb-1 font-primary font-medium text-sm">Contraseña</label>

        <div class="relative">
          <lucide-icon [img]="FileIcon_Password" size="20"
            class="absolute left-2 top-1/2 -translate-y-1/2 text-gray-400 pointer-events-none">
          </lucide-icon>

          <input id="paswword" type="paswword" formControlName="paswword" placeholder="*****" class="w-full border rounded-lg py-2 pl-10 pr-3 text-gray-700 placeholder:text-gray-500
             focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary" />
        </div>
      </div>

      <button type="button" (click)="goLogin()"
        class="w-full bg-primary text-black font-semibold rounded-lg py-3 text-center hover:bg-primary-light transition">
        Comenzar
      </button>


    </form>

    <div class="mt-6 text-center text-sm">
      <span class="text-gray-500">¿No tienes cuenta?</span>
      <a (click)="goRegister()" class="ml-1 font-semibold text-gray-800 hover:text-gray-600">
        Regístrate aquí
      </a>

    </div>




  </div>

</div>
