<div class="min-h-screen flex items-center justify-center bg-gray-100">

  <mat-card class="w-full max-w-md p-8 rounded-2xl shadow-lg">

    <div class="text-center mb-6">
      <img src="/assets/img/Logo_Letra_FinMind.png" width="120" class="mx-auto mb-2" />
      <h1 class="text-2xl font-bold text-gray-800">Bienvenido de nuevo</h1>
      <p class="text-gray-500 text-sm">Accede a tu panel inteligente de finanzas</p>
    </div>


    <form class="flex flex-col gap-4" appearance="outline">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="pat@example.com">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="••••••••">
      </mat-form-field>

      <button mat-raised-button type="submit" class="w-full py-3 font-semibold rounded-lg text-white"
        style="background-color: #1E3557; color: white;">
        Iniciar sesión
      </button>

    </form>


    <div class="mt-4 text-center text-sm">
      <span class="text-gray-500">¿No tienes cuenta?</span>
      <a (click)="goRegister()" class="text-primary font-medium hover:underline cursor-pointer">
        Regístrate aquí
      </a>
    </div>



  </mat-card>

</div>
